{% extends 'base.html' %}
{% block content %}
<body>
    <div class="container p-5">
        <div class="col-lg-8">
            <div class="offset-lg-2">
                <div class="card p-5">
                    <h5 class="card-title text-center">Welcome to editing page</h5>
                    <a href="{% url 'profile' %}"><button class="btn btn-primary ml-150 mt-20 mb-20">Profile page</button></a>
                    <form method="POST" action="{% url 'update-profile' %}">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label class="form-label">E-mail address:</label>
                            <input type="email" name="email" class="form-control" aria-describedby="emailHelp" placeholder="{{ user.email }}">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Login:</label>
                            <input type="text" name="username" class="form-control" placeholder="{{ user.username }}">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">First name:</label>
                            <input type="text" name="first_name" class="form-control" placeholder="{{ user.first_name }}">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Last name:</label>
                            <input type="text" name="last_name" class="form-control"  placeholder="{{ user.last_name }}">
                        </div>
                        <div class="mb-3 form-check">
                        </div>
                        <button type="submit" class="btn btn-primary mb-5 mt-5">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}