{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="d-flex justify-content-center align-items-center mt-100 mb-100">
            <div class="single-services text-center mb-30">
                <h1 class="text-center">Account</h1>
                <h5 class="card-title text-center">About profile</h5>
                <div class="card-body">
                    <p class="card-text text-left">ID: {{user.id}}</p>
                    <p class="card-text text-left">E-mail: {{user.email}}</p>
                    <p class="card-text text-left">Login: {{user.username}}</p>
                    <p class="card-text text-left">First Name: {{user.first_name}}</p>
                    <p class="card-text text-left">Last Name: {{user.last_name}}</p>
                </div>
                <a href="{% url 'edit' %}" class="btn btn-sm btn-primary">Edit</a>
            </div>
        </div>
    </div>
{% endblock %}