{% extends 'base.html' %}
{% block content %}
<h1 class="d-flex justify-content-center mb-50">Welcome to Users page</h1>
<div class="container">
    <table class="table table-dark">
        <thead>
            <tr>
                <th>ID</th>
                <th>E-mail</th>
                <th>Username</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.username }}</td>
                <td>
                    <form method="post" action="{% url 'delete' user.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary mb-5 mt-5">Delete</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}